html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    font-family: Arial, "sans-serif";
    background-color: #000000;
}

.item {
    border-radius: 100%;
    background-color: #444444;
    background: radial-gradient(closest-side, #555555 0%, #444444 85%, #111111 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: initial;
}

.itemTitle {
    margin-top: 0;
}

.itemTitle > a, .itemTitle > a:link, .itemTitle > a:visited {
    text-decoration: none;
    color: #cccccc;
}

.itemTitle > a:hover, .itemTitle > a:active {
    text-decoration: underline;
    color: #999999;
}

.itemDescription {
    color: #999999;
}

.itemDescription > a, .itemDescription > a:link, .itemDescription > a:visited {
    font-size: 10pt;
    color: #999999;
}

.itemDescription > a:hover, .itemDescription > a:active {
    color: #cccccc;
}

@media only screen and (max-width: 999px) {
    #info {
        display: none;
    }

    #backgroundWrapper {
        display: none;
    }

    #items {
        padding: 50px 0px;
    }

    #items::before {
        content: 'Je bekijkt de mobiele versie. Bezoek op een computer om de volledige, geanimeerde versie te bekijken.';
        display: block;
        color: #999999;
        text-align: center;
        font-size: 10pt;
        width: 40%;
        margin: 0 auto 50px;
    }

    .item {
        margin: 0 auto 50px;
    }

}

@media only screen and (min-width: 1000px) {
    #info {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10pt;
        color: #666666;
    }

    #backgroundWrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    #topText {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #999999;
    }

    #title {
        font-size: 20pt;
    }

    #description {
        font-size: 15pt;
    }

    @keyframes rotating {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    #background {
        position: relative;
        height: max(400vw, 400vh);
        width: max(400vw, 400vh);
    }

    #background.background-rotating {
        animation: rotating 400s linear infinite;
    }

    #items {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
    }

    .item {
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* Checkmark (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox) */

/* The container */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #444;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #555;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #666;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: .3em;
    top: .1em;
    width: .4em;
    height: .7em;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
